# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Environment files
.env
.venv/
env/
venv/

# OS & editor junk
.DS_Store
Thumbs.db

# pytest / coverage / cache
.pytest_cache/
.cache/
.coverage
